<p style="color: green"><%= notice %></p>

<h1>Friend List</h1>

<div class="mt-5" id="friends">
  <% @friends.each do |friend| %>
    <%= render friend %>
    <p class="mt-2">
      <%= link_to "Show this friend", friend, class:"btn btn-secondary" %>
    </p>
  <% end %>
</div>

  <%= link_to "New friend", new_friend_path, class:"mt-5 btn btn-primary"%>


